<span class="text-6xl mb-5 text-zorange font-thin tracking-tighter lg:text-7xl">
    {{album.name}}</span>
<h1 class="text-4xl mb-5 text-zgray-8 font-thin tracking-tighter lg:text-5xl">{{album.artists.0.name}}</h1>


<img src="{{album.images.1.url}}" alt="">

<div>
  <br><br><br><br><br><br><br>
</div>