<span class="text-8xl mb-5 text-zorange font-thin tracking-tighter lg:text-9xl">
    {{album.name}}</span>
<h1 class="text-7xl mb-5 text-zgray-8 font-thin tracking-tighter lg:text-7xl">{{album.artists.0.name}}</h1>


<img src="{{album.images.0.url}}" alt="">