<span class="text-8xl mb-5 text-zorange font-thin tracking-tighter lg:text-9xl">
    {{artist.name}}</span>
<span class="text-7xl mb-5 text-zgray-8 font-thin tracking-tighter lg:text-7xl">🌟{{artist.popularity}}% popularidad</span>
<h1 class="text-6xl mb-5 text-zmagenta font-thin tracking-tighter lg:text-6xl">
    {{artist.followers.total}} seguidores</h1>

<img src="{{artist.images.0.url}}" alt="">